<!-- home.html -->
    <div class="jumbotron text-center">
        <h1>Home Page</h1>

        <p>{{ message }}</p>
        
        
  <div ng-show="authData">
    <p>Hello, {{ authData.uid}} - {{authData.github.displayName}}</p>
      <img src={{authData.github.profileImageURL}}/>
    <button ng-click="auth.$unauth()">Logout</button>
  </div>
  <div ng-hide="authData">
    <p>Welcome, please log in.</p>
    <button ng-click="auth.$authWithOAuthRedirect('github')">Login With Github</button>
  </div>
</div>
    </div>